@font-face {
    font-family: 'UbuntuBold';
    src: url('../fonts/ubuntu/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-b-webfont.woff') format('woff');         
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuLight';
    src: url('../fonts/ubuntu/ubuntu-light-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-light-webfont.woff') format('woff');         
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuMedium';
    src: url('../fonts/ubuntu/ubuntu-medium-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-medium-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'UbuntuRegular';
    src: url('../fonts/ubuntu/ubuntu-regular-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu/ubuntu-regular-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GagalinRegular';
    src: url('../fonts/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LifehackMedium';
    src: url('../fonts/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}