/* Верхнее прижатое меню */
@import url(panel_up.css);
/* Левая прижатая панель */
@import url(panel_left.css);
/* Правая прижатая панель */
@import url(panel_right.css);
@import url(panel_right_forms.css);
@import url(panel_right_triggers.css);

/* Текст с просьбой отправить ТЗ на email + кнопка */
@import url(TZ_btn_pages.css);


/* Страница "Работы" */
@import url(./works/works_section_1_SMR.css);
@import url(./works/works_section_2_Zworks.css);
@import url(./works/works_section_3_BRworks.css);
@import url(./works/works_section_4_FRworks.css);
@import url(./works/works_section_5_IS.css);
@import url(./works/works_section_6_MK.css);
@import url(./works/works_section_7_SP.css);
@import url(./works/works_section_8_Kworks.css);
@import url(./works/works_section_9_EMR.css);
@import url(./works/works_section_10_asphalting.css);

/* Страница "О компании" */
@import url(./about/about_1_avatar.css);
@import url(./about/about_2_who.css);
@import url(./about/about_3_slider.css);
@import url(./about/about_4_director.css);
@import url(./about/about_5_licenses.css);
@import url(./about/about_6_team.css);
@import url(./about/about_7_partners.css);

/* Страница "Проектирование" */
@import url(./project/project_1_form.css);
@import url(./project/project_2_advantages.css);
@import url(./project/project_3_project-S.css);
@import url(./project/project_4_project-F.css);
@import url(./project/project_5_project-R.css);
@import url(./project/project_6_designer.css);
@import url(./project/project_7_project-stages.css);
@import url(./project/project_8_documents.css);
@import url(./project/project_9_project-license.css);

/* Страница "Материалы" */
@import url(./materials/materials_1.css);
@import url(./materials/materials_2_MK.css);
@import url(./materials/materials_3_SP-PL.css);
@import url(./materials/materials_4_beton.css);
@import url(./materials/materials_5_NM.css);
@import url(./materials/materials_6_asfalt.css);

/* Страница "Реконструкция" */
@import url(./reconstruction/reconstruction_1.css);
@import url(./reconstruction/reconstruction_2_external.css);
@import url(./reconstruction/reconstruction_3_internal.css);
@import url(./reconstruction/reconstruction_4_stages.css);
@import url(./reconstruction/reconstruction_5_engineer.css);
@import url(./reconstruction/reconstruction_6_partial.css);
@import url(./reconstruction/reconstruction_7_DO.css);
@import url(./reconstruction/reconstruction_8_documents.css);
@import url(./reconstruction/reconstruction_9_forma.css);

/* Страница "Контакты" */
@import url(contacts.css);

/* Страница "Политика конфиденциальности" */
@import url(privacy-policy.css);

/*Попап формы*/
@import url(form_popup.css);

/*Соглашение на обработку персональных данных*/
@import url(accept-form.css);

/* Секция "Карта" на всех страницах (футер) */
@import url(final_map.css);

/*Кнопка закрытия окна*/
@import url(close-btn.css);




*, *:before, *:after {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none; }
  
html, body {
    min-height: 100%;
    width: 100%; 
    font-family: 'Istok Web'; }
    
h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 0.9; }
    
h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    line-height: 1; }

/* Стили для заголовков h1 и h2, для дескрипторов и для подчёркиваний заголовков
на страницах "Проектирование" и "Работы" */    
.caption1__works, 
.caption1__project {
    margin-right: auto;
    color: #002;
    background: linear-gradient(0deg, #1e1e28 33%, #1e1e28 66%, #aa2c36); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.caption1__works:after, 
.caption1__project:after,
.caption2__works:after {
    content: '';
    display: block;
    width: 48%;
    height: 2px;
    background-color: #c7757c;
    margin-top: 1rem;
    margin-bottom: 1.2rem; }
    
.caption1__materials-1 {
    margin-bottom: 0;
    padding-bottom: 0.8rem; }

.descriptor-h1 {
    font-size: 1.3rem;
    font-weight: 800; }

.caption2 {
    font-size: 2rem;
    padding-top: 1rem; }
/* */




/* Заголовки h2 на страницах "О компании", "Проектирование", "Материалы",
"Рокнструкция" нужны побольше, т.к. секции с ними оформлены в другом стиле */ 
.caption2__about, 
.caption2__project, 
.caption2__project-R,
.caption2__materials-SP-PL, 
.caption2__materials-beton, 
.caption2__materials-NM, 
.caption2__materials-asfalt,
.caption2__materials-MK,
.caption2__internal-reconstruction,
.caption2__external-reconstruction {
    font-size: 2.7rem; }

.caption2__director {
    font-size: 4rem;
    line-height: 0.8; }     

.descriptor-h2 {
    font-size: 1rem; }   
    
    .caption2__about {
        padding-left: 30px;
    }
/* */


/* На страницах "Работы" и "Материалы" в двух секциях заголовки h2 расположены по-другому,
нежели все остальные заголовки на этой странице, поэтому отменяем верхний отступ, чтоб эти
заголовки были выровнены с картинками своих секций*/
.caption2__asphalting, 
.caption2__IS, 
.caption2__materials-beton, 
.caption2__materials-asfalt {
    padding-top: inherit; }
/* */




h3 {
    font-size: 1.2rem; }

.paragraphs {
    font-size: 0.8rem;
    line-height: 1.3; }

p  {
    margin-bottom: 1rem; }


    

    
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden; }

.container {
    /*max-width: 50rem;*/
    max-height: 38.625rem;    
    margin: 0 auto; }

.container__privacy-policy {
    max-height: inherit; }

.section {    
    height: 100vh;
    width: 100%;   
    padding: 0 260px;  
    padding-top: 2rem; }

.section__privacy-policy {
    height: inherit; }

/* Отменяем padding-top в 2rem у этих секций, т.к. их плашки должы стартовать с верхнего края секции */ 
.section__director,
.section__project-R {
    padding-top: 0 }
/* */   




.wrap {
    height: 62vh; }
    
.wrap__avatar {
    display: flex;
    justify-content: space-between;   
    padding-top: 2rem;
    height: 90vh; }
.wrap__reconstruction-1 {
    height: 90vh;
}
.wrap__team {
    height: 75vh;
    width: 100%;

}

.wrap__materials-1 {
    height: 100%; }

.subtitle {
    margin-bottom: 0.5rem; }   





.btn {
    width: 11.4rem;
    padding: 0.5rem 2.1rem;
    border: none;
    border-radius: 0.1rem;
    background-color: #b2414a;  
    font-size: 0.7rem;
    color: white;  
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 0.5rem; }

.btn:hover {
    cursor: pointer;
    background-color: #aa2c36; }
    

/* Подпись под кнопками - "Согласие на обработку персональных данных" */
.OPD {
    font-size: 0.55rem;
    line-height: 1.2; }

.OPD__link {
    text-decoration: none;
    color: blue; }
/* */


/* Пришлось задать кнопкам фиксированную ширину */
.btn__project-form {
    width: 15rem;
    margin-top: inherit;
    padding: 0.7rem 0.5rem;
    font-size: 0.6rem; }

.btn__designer-form, 
.btn__engineer-form {
    width: 14rem;   
    margin: 0 auto;
    padding: 0.7rem 0.7rem; }

.btn__reconstruction-form {
    margin-top: 0.7rem;
    width: 12rem; } 
/* */


.btn__link-materials-NM {
    width: 14rem;
    padding: 0.4rem 1.5rem; }

.btn__link-reconstruction-partial {
    margin-top: 0.6rem;
    width: 8rem;
    padding: 0.4rem 1.8rem; }




/* Стрелка "Наверх" на всех страницах */
.arrow__up {   
    position: fixed;
    bottom: 1rem;
    right: 15rem;
    z-index: 2000; }
/* */  