.section-5 {	
	width: 940px;
	margin: 0 auto;
}
.menu {
	color: white;
	font-family: UbuntuLight;
	font-size: 14px;
	line-height: 1.6;
	display: flex;
	justify-content: flex-end;
	position: relative;
	height: 650px;
	width: 100vw;
	background-color: grey;
	background: url('../img/background/bg-5.jpg');
	background-size: cover;
	background-position: center;
	
}
.menu__item {	
	background-position: center;
	background-size: cover;
	filter: brightness(30%);
	width: 80px;	
	display: flex;
}
.menu__item-meat {
	background-image: url(../img/background/acc_1.jpg);	
}
.menu__item-vegan {
	background-image: url(../img/background/acc_2.jpg);	
}
.menu__item-diet {
	background-image: url(../img/background/acc_3.jpg);	
}













.section-5 {
	background-image: url(../img/background/bg-5.jpg);
	background-position: center;
	background-size: cover; 
	height: 100vh;
  	width: 100vw;
  	/*
  	display: flex;	
  	justify-content: space-between;*/
}
.menu {
	display: flex;	
	position: relative;
	height: 100%;
	width: 100%;
	color: white;
	font-family: UbuntuLight;
	font-size: 14px;
	line-height: 1.6;	
}
.menu__accordion {		
	display: flex;
	position: absolute;	
	right: 0;
}
.menu__item {
	background-position: center;
	background-size: cover;
	height: 650px;	
	width: 80px;
	display: flex;
}
.menu__item-meat {
	background-image: url(../img/background/acc_1.jpg);		
}
.menu__item-vegan {
	background-image: url(../img/background/acc_2.jpg);		
}
.menu__item-diet {
	background-image: url(../img/background/acc_3.jpg);		
}
.menu__text {
	width: 0px;
	overflow: hidden;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 50px;
	display: flex;
}
.menu__item-meat:hover .menu__text {
	width: 650px;
} 
.menu__item-vegan:hover .menu__text {
	width: 650px;
} 
.menu__item-diet:hover .menu__text {
	width: 650px;
} 
.menu__item-meat:hover, .menu__item-vegan:hover, .menu__item-diet:hover {
	width: 650px;
	transition: 1.5s;
	cursor: pointer;
} 
.menu__title {
	display: block;
	font-family: GagalinRegular;
}
.main__offer-menu {
	margin-left: 95px;
	margin-top: 100px;
}