.TZ {   
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1.1; }
    
.sub-contacts {
    margin-top: 1.5rem;
    margin-bottom: 1rem; }

.btn__page {
    padding: 0.8rem 2rem;
    border-radius: 0.1rem;
    border: 2px solid #b2414a;
    background-color: transparent;  
    font-size: 0.7rem;
    font-weight: 700;
    color: #b2414a;  
    text-transform: uppercase;
    display: flex;    
    margin-right: 0px;
    margin-left: auto; }

.btn__page:hover {
    cursor: pointer;
    background-color: #b2414a; 
    color: #fff; }
