.section__materials-MK {       
    background-image: url(../../img/background/materials/mk/bg_2.jpg);
    background-size: cover;
    background-position: top;
    filter: grayscale(0.8); }

.section__materials-MK:hover {
    filter: none; } 

.caption2__materials-MK {
    margin-top: 20rem;
    color: #fff;
    line-height: 0.9; }

.wrap__materials-MK {
    display: flex;
    justify-content: space-between;
    margin-top: -2rem; }

.materials-MK__right  {
    width: 50%; }

.materials-MK__left {
    width: 48%; }

.materials-MK__right {
    height: 39.8rem;
    background-image: linear-gradient(to right, rgb(52, 52, 61), rgba(52,52,61,0.8), rgba(52,52,61,0.7), rgb(255,255,0,0));
    color: #fff;    
    padding: 3rem;
    padding-top: 4rem; }

.materials-MK__main-text {
    font-size: 0.9rem; }

.materials-MK__accordion {     
    color: white;
    padding-top: 1.5rem;
    padding-left: 1.3rem; }

.materials-MK__link {
    text-decoration: none;  
    font-size: 0.7rem;  
    color: #fff; }

.title__materials-MK {
    position: relative;
    line-height: 1.2; }

.title__materials-MK:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -1.25rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.5rem solid #d4959a;  
    transition-duration: 0.5s; }

.materials-MK__link:hover .title__materials-MK:before {  
    transform: rotateX(180deg);  
    transition: 0.3s; } 

.materials-MK__item-active .title__materials-MK:before {
    transform: rotateX(180deg);  
    transition: 0.3s; }

.materials-MK__link:hover, .materials-MK__item-active .title__materials-MK {
    color: #d4959a; }
    
.materials-MK__item-active .materials-MK__mini-content {
    height: 100%;
    transition-duration: 0.3s;}
    
.materials-MK__mini-content {
    font-size: 0.8rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 0rem;
    overflow: hidden; }

.materials-MK__mini-content1 {
    display: flex;
    justify-content: space-between; }

.materials-MK__photo1 {
    background-image: url(../../img/background/materials/mk/mk_1.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    width: 37%; }

.materials-MK__photo2 {
    background-image: url(../../img/background/materials/mk/mk_22.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 6rem;
    margin-bottom: 1rem; }

.materials-MK__text, .materials-MK__photo {
    opacity: 0; }

.materials-MK__item-active .materials-MK__text {    
    opacity: 1;
    transition-duration: 0.3s; }

.materials-MK__item-active .materials-MK__photo {
    opacity: 1;
    transition-duration: 0.7s; }

.materials-MK__text1 {
    width: 60%; }