.section__project-R {       
    background-image: url(../../img/background/project/project-R/project-R.jpg);
    background-size: cover;
    background-position: top;
    filter: grayscale(0.8); }

.section__project-R:hover {
    filter: none; } 

.caption2__project-R {
    margin-top: 2.5rem;
    color: #002;
    background: linear-gradient(270deg, #050527 33%, #1e1e28 80%, #aa2c36); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.wrap__project-R {
    display: flex;
    justify-content: space-between;
    padding: inherit; }

.project-R__left  {
    width: 52%; }

.project-R__right {
    width: 48%; }

.project-R__right {
    height: 39.8rem;
    background-image: linear-gradient(to right, rgb(52, 52, 61), rgba(52,52,61,0.8), rgba(52,52,61,0.7), rgb(255,255,0,0));
    color: #fff;    
    padding: 3rem;
    padding-top: 4rem; }

.project-R__main-text {
    font-size: 0.9rem; }

.project-R__accordion {     
    color: white;
    padding-top: 1.5rem;
    padding-left: 1.3rem; }

.project-R__link {
    text-decoration: none;  
    font-size: 0.7rem;  
    color: #fff; }

.title__project-R {
    position: relative;
    line-height: 1.2; }

.title__project-R:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -1.25rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.5rem solid #d4959a;  
    transition-duration: 0.5s; }

.project-R__link:hover .title__project-R:before {  
    transform: rotateX(180deg);  
    transition: 0.3s; } 

.project-R__item-active .title__project-R:before {
    transform: rotateX(180deg);  
    transition: 0.3s; }

.project-R__link:hover, .project-R__item-active .title__project-R {
    color: #d4959a; }
    
.project-R__item-active .project-R__mini-content {
    height: 100%;
    transition-duration: 0.3s; }
    
.project-R__mini-content {
    font-size: 0.8rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 0rem;
    overflow: hidden; }

 .project-R__text {
    opacity: 0; }
.project-R__item-active .project-R__text {    
    opacity: 1;
    transition-duration: 0.3s; }


      