.section__internal-reconstruction {       
    background-image: url(../../img/background/reconstruction/internal_reconstruction-bg.jpg);
    background-size: cover;
    background-position: top;
    filter: grayscale(0.8); }

.section__internal-reconstruction:hover {
    filter: none; } 

.caption2__internal-reconstruction {
    margin-top: 3rem;
    margin-left: 1.3rem;
    line-height: 0.9; }

.wrap__internal-reconstruction {
    display: flex;
    justify-content: space-between;
    margin-top: -2rem; }

.internal-reconstruction__right  {
    width: 50%; }

.internal-reconstruction__left {
    width: 48%; }

.internal-reconstruction__right {
    height: 39.8rem;
    background-image: linear-gradient(to right, rgb(52, 52, 61), rgba(52,52,61,0.8), rgba(52,52,61,0.7), rgb(255,255,0,0));
    color: #fff;    
    padding: 3rem;
    padding-top: 4rem; }

.internal-reconstruction__main-text {
    font-size: 0.9rem; }

.internal-reconstruction__accordion {     
    color: white;
    padding-top: 1.5rem;
    padding-left: 1.3rem; }

.internal-reconstruction__link {
    text-decoration: none;  
    font-size: 0.7rem;  
    color: #fff; }

.title__internal-reconstruction {
    position: relative;
    line-height: 1.2; }

.title__internal-reconstruction:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -1.25rem;
    border-left: 0.4rem solid transparent;
    border-right: 0.4rem solid transparent;
    border-top: 0.5rem solid #d4959a;  
    transition-duration: 0.5s; }

.internal-reconstruction__link:hover .title__internal-reconstruction:before {  
    transform: rotateX(180deg);  
    transition: 0.3s; } 

.internal-reconstruction__item-active .title__internal-reconstruction:before {
    transform: rotateX(180deg);  
    transition: 0.3s; }

.internal-reconstruction__link:hover, .internal-reconstruction__item-active .title__internal-reconstruction {
    color: #d4959a; }
    
.internal-reconstruction__item-active .internal-reconstruction__mini-content {
    height: 100%;
    transition-duration: 0.3s; }
    
.internal-reconstruction__mini-content {
    font-size: 0.8rem;    
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 0rem;
    overflow: hidden; }

.internal-reconstruction__photo {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 5rem;
    margin-bottom: 1rem; }

.internal-reconstruction__photo1 {
    background-image: url(../../img/background/reconstruction/internal_reconstruction-1.jpg);    
    background-position: right; }
.internal-reconstruction__photo2 {
    background-image: url(../../img/background/reconstruction/internal_reconstruction-2.jpg);    
    background-position: top; }
.internal-reconstruction__photo3 {
    background-image: url(../../img/background/reconstruction/internal_reconstruction-3.jpg);    
    background-position: center; }

.internal-reconstruction__text, .internal-reconstruction__photo {
    opacity: 0; }

.internal-reconstruction__item-active .internal-reconstruction__text {    
    opacity: 1;
    transition-duration: 0.3s; }

.internal-reconstruction__item-active .internal-reconstruction__photo {
    opacity: 1;
    transition-duration: 0.7s; }
