.Bwork__wrap {
    display: flex;
    flex-wrap: wrap; }

.Bwork__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.2rem;
    height: 14vh; }

.Bwork__photo {
    width: 33%;
    box-shadow: 0px 5px 5px 0px rgb(221, 220, 220);    
    background-size: cover;
    background-position: center;
    filter: grayscale(0.8); }

.Bwork__photo:hover {
    filter: none; }

.Bwork__photo-1 {
    background-image: url(../../img/background/works/BR/BR_1.jpg); }
.Bwork__photo-2 {
    background-image: url(../../img/background/works/BR/BR_2.jpg); }
.Bwork__photo-3 {
    background-image: url(../../img/background/works/BR/BR_3.jpg); }

.Bwork__subtitle {
    margin-bottom: 0.5rem; }

.Bwork__text {
    width: 65%; }

.sub-contacts__Bwork {
    display: flex;
    align-items: center; }
