
@import "font-awesome.css";

@font-face {
	font-family: 'GothaProLig';
	src: url('../fonts/GothaProLig.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothaProLigIta';
	src: url('../fonts/GothaProLigIta.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'GothaProBol';
	src: url('../fonts/GothaProBol.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.woff') format('woff');
  src: url('../fonts/fontawesome-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'GothaProLig', Arial, sans-serif;	
	-webkit-font-smoothing: antialiased; 
	-moz-osx-font-smoothing: grayscale;	
}

html {
	position: relative;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	
}

.wrapper {
	margin: 0 auto;
	min-width: 1100px;
	min-height: 100%;
}

.footer {
	height: 77px;	
	background: #27273e;	
	min-width: 1100px;
	
}

.container {
	width: 1060px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.clearfix:after {
	content: "";
	display: block;
  	clear: both;
}

.header {
	background: #27273e;	
	min-width: 1060px;
}

.header__banner {
	margin-left: -20px;
}

.header__left, .header__right {
	float: left;
	width: 50%;
}

.header__left {	
	margin-top: 12px;
	margin-bottom: 12px;
}

.header__right {
	text-align: right;
	margin-top:21px;
	
}

.contacts__phone {
	font-family: GothaProBol;
	font-size: 21px;
	color: #ffffff;
	text-decoration: none;
}

.schedule {
	font-family: GothaProBol;
	font-size: 14px;
	color: rgb(236, 30, 121);
	position: relative;		
}

.schedule:hover {
	color: #7faad4;	
}

.schedule:hover .dropdown {
	transition: opacity 0.3s;
	opacity: 1;
	
}

.dropdown {	
	width: 162px;
	height: 70px;
	border-radius: 4px;
	background-color: white;
	position: absolute;		
	top: 40px;
	left: -50px;
	box-shadow: 0 0 5px 2px #d3dae4;
	opacity: 0;
	
}

.schedule:before {
	content: "";
	display: block;
	height: 30px;
	width: 115px;	
	left: 0;
	right: 0;
	top: 16px;
	position: absolute;
}

.dropdown__text {
	font-family: GothaProLig;
	font-size: 14px;
	line-height: 1.5;
	color: #221f1f;
	text-align: left;
	margin: 13px 10px;
	text-align: left;
}

span {
	font-family: GothaProBol;
}

.triangle {	
	border: 12px solid transparent; 
	border-bottom: 23px solid white;
	position: absolute;
	width: 0;
	height: 0;	
	bottom: 98%;
	left: 85%;	
}










.wrapper__intro {
	background-image: url(../img/content/intro.jpg);	
	position: relative;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}


.intro {
	display: inline-block;	
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	animation: roll 0.8s;	
}

@keyframes roll {
	0% {
		opacity: 0;			
	}	
	50% {
		opacity: 0;
	}
	55% {
		transform: rotateY(-100deg);
	}
} 

.intro__image {
	padding-left: 25px;
	padding-bottom: 32px;
}

.intro__site {
	display: block;
	border: 3px solid #ec1e79;
	padding: 16px 20px; 
	text-decoration: none;
	text-transform: uppercase; 
}

.intro__site:hover {	
	background-color: #ec1e79;
}

.intro__text:hover {
	color: white;
}







.maincontent {
	margin-top: 26px;
}

.sidebar {
	float: left;
	width: 174px;
	margin-top: 43px;
}

.content {
	float: left;
	width: 880px;
	margin-top: 30px;
	padding-top: 0 auto;
}

.nav-list, .social-list {
	margin: -4px;
	padding: 2px;
	list-style-type: none;
}

.nav__icon, .nav__name {
	vertical-align: middle;
	display: inline-block;	
}

.nav__link {
	font-family: GothaProBol;
	font-size: 12px;
	color: #ec1e79;
	text-transform: uppercase;
	text-decoration: none;	
}

.nav__link_prices-active, .nav__link_reviews-active, .nav__link_main-active {
	color: black;
}

.nav__icon-main-active {
	background-image: url(../img/icons/main_sprite.png);
	background-position: 0 -52px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;	
}

.nav__icon-reviews-active {
	background-image: url(../img/icons/main_sprite.png);
	background-position: -100px -49px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;	
}

.nav__icon-prices-active {
	background-image: url(../img/icons/main_sprite.png);
	background-position: -201px -49px;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}
	
.nav__icon-reviews {
	background-image: url(../img/icons/main_sprite.png);
	width: 20px;
	height: 20px;
	background-position: -100px 0px;
	background-repeat: no-repeat;
}

.nav__icon-prices {
	background-image: url(../img/icons/main_sprite.png);
	width: 20px;
	height: 20px;
	background-position: -200px 0px;
	background-repeat: no-repeat;
}

.nav__icon-main {
	background-image: url(../img/icons/main_sprite.png);
	width: 20px;
	height: 20px;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

.nav__link:hover {
	color: black;
}

.nav__link:hover .nav__icon-main {
	background-position: 0 -52px;
}

.nav__link:hover .nav__icon-reviews {
	background-position: -100px -49px;
}

.nav__link:hover .nav__icon-prices {
	background-position: -200px -49px;
}

.nav__name {
	margin-left: 15px;
	top: 50%;
	max-width: 80px;
}

.nav__item {
	margin-bottom: 28px;
}














.breadcrumbs {	
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}

.breadcrumbs__item {
	display: inline-block;
	
}

.breadcrumbs__list {
	margin-top: 10px;
	padding-left: 0px;
}

.breadcrumbs__item:after {
	content: "/";
	color: #221f1f;
	display: inline-block;
	margin-left: 5px;
	margin-right: -3px;
} 

.breadcrumbs__item:last-child:after {
	display: none;
}

.breadcrumbs__link {
	font-family: GothaProLigIta;
	font-size: 14px;
	color: #ec1e79;	
}

.breadcrumbs__item_active .breadcrumbs__link {
	color: #221f1f;
	text-decoration: none;
}





.reviews__list {
	list-style-type: none;
	padding: 0;
}

.reviews__captions {
	font-family: GothaProBol;
	font-size: 49px;
	color: #221f1f;
	margin-bottom: 15px;
	margin-top: 16px;
}

.reviews__item-wrap {
  display: inline-block;
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 23px;
  margin-top: 24px;
}

.reviews__item:last-child .reviews__item-wrap {
	border-bottom: none;
} 

.reviews__photo {
	float: left;
	width: 160px;
	height: 160px;
	overflow: height;	
	margin-right: 20px;
}

.reviews__image {
	border-radius: 50%;
	width: 100%;
	height: 100%;	
}

.reviews__content {
	float: left;
	width: 700px;
}

.reviews__data {	
	font-family: GothaProLig;
	font-size: 14px;
	color: #656464;	

}

.reviews__text {
	font-family: GothaProLig;
	font-size: 18px;
	color: #221f1f;
	line-height: 1.7;
}

.reviews__title {
	display: inline-block;
	font-family: GothaProBol;
	font-size: 18px;
	color: #221f1f;		
	padding-top: 0px;
	margin-bottom: 10px;
	margin-top: 5px
}












.prices__photo {
	width: 250px;
	height: 153px;
	background-color: #39374a;
	border: 1px solid transparent;
	border-radius: 3px;

}

.prices__photo_img1 {
	background-image:url(../img/content/prices__photo_img1.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__photo_img2 {
	background-image:url(../img/content/prices__photo_img2.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__photo_img3 {
	background-image:url(../img/content/prices__photo_img3.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__photo_img4 {
	background-image:url(../img/content/prices__photo_img4.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__photo_img5 {
	background-image:url(../img/content/prices__photo_img5.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__photo_img6 {
	background-image:url(../img/content/prices__photo_img6.png); 
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: inline-block;
	vertical-align: center;
}

.prices__list {
	padding: 0;
}

.prices__caption {
	font-family: GothaProBol;
	font-size: 49px;
	margin-top: 17px;
	margin-bottom: 33px; 	
}

.prices__title {
	font-family: GothaProBol;
	font-size: 24px;
	color: #5dd1f8;
	text-transform: uppercase;	
	text-align: center;	
	vertical-align: middle;
	line-height: 110px;
}

.prices__title_vip {
	line-height: 1.4;
}

.prices__description {
	font-family: GothaProBol;
	font-size: 18px;
	line-height: 21px;
	margin-top: 21px;
	margin-bottom: 13px;
}

.prices__text {
	font-family: GothaProLig;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: 0.5px;
	margin-bottom: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.prices__description, .prices__text {
	padding: 0 auto; 
}

span {
	color: #ec1e79;
}

.prices__photo-img {
	border-radius: 3px;
}	

.prices__item {	
	width: 290px;
	text-align: center;
	list-style-type: none;
	padding-right: 0px;
	padding-left: 0px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: -9px;
}

.prices__item-wrap {
	margin-left: -12px;	
	margin-right: -16px;

}
 








.partners {
	padding-left: 0px;
}

.partners__list {
	padding: 0;
	list-style-type: none;	

}

.partners__item {
	display: inline-block;
	margin-right: 135px;	
	margin-bottom: 58px; 
	overflow: hidden;	
	margin-top: -5px;
}

.partners__image {
	width: 100%;
	height: 100%;
	filter: grayscale(90%);	
}

.partners__image:hover {
	filter: grayscale(0%);
}

























.features__list {
	padding: 0;
	list-style-type: none;	
	margin-top: -10px;
	margin-bottom: 0px;
	padding-bottom: -30px;

}

.features__list-mini {	
	list-style-type: none;	
	margin-top: -24px;
}

.features__item {
	float: left;
	width: 33.3%;
	margin-right: -33px;
	padding-bottom: 0px;

}

.features__item-wrap {
	padding-top: 65px;
	padding-bottom: 100px;
	vertical-align: center;	
}

.features__captions {
	font-family: GothaProBol;
	font-size: 49px;
	color: #221f1f;
	margin: 0px;
	padding: 0px;
}

.features__picture {
	width: 70px;
	height: 70px;
	background-color: #27273e;	
	border-radius: 50%;		
	text-align: center;
	margin-left: 38%;
}

.features__image {	
	vertical-align: bottom;
	margin-top: 20px;	
}

.features__picture, .features__title, .features__description, .features__image {
	text-align: center;
}

.features__title {
	font-family: GothaProBol;
	font-size: 11px;
	color: #212121;	
	margin-top: 26px;	
	text-transform: uppercase;	
}

.features__description {
	padding-bottom: 0px;
	margin-bottom: 17px;
	line-height: 1.4;
	margin-top: -7px;
}

.features__description, .features__list {
	font-family: GothaProLig;
	font-size: 18px;
	color: #212121;	
	line-height: 2;	
	
}

.features__punct:before  {
	font-family: GothaProLig;
	font-size: 18px;
	color: #ec1e79;	
	content: "•";
	padding-right: 30px;
}








.news {
	padding-top: 0px;
}

.features, .news, .news__list {
	list-style-type: none;
}

.news__list {
	padding: 0;
}

.news__captions {
	font-family: GothaProBol;
	font-size: 49px;
	color: #221f1f;
	margin-bottom: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
	
}

.news__content {
	display: inline-block;
	width: 700px;
}

.news__image {
	border-radius: 50%;		 
	width: 100%;
	height: 100%;
}

.news__data {	
	font-family: Roboto;
	font-size: 14px;
	color: #656464;		
}

.news__text {
	font-family: Roboto;
	font-size: 18px;
	color: #221f1f;
	line-height: 1.6;
}

.news__title {
	font-family: Roboto;
	font-size: 18px;
	color: #221f1f;		
	margin-top: -14px;	
	margin-bottom: 12px;
}

.news__item-wrap {
  	border-bottom: 2px solid #f5f5f5;
  	display: inline-block;
  	padding-bottom: 30px;
 	margin-top: 38px;
}

.news__photo {
	float: left;
	width: 160px;
	height: 160px;
	overflow: height;	
	margin-right: 20px
}

.news__item:last-child .news__item-wrap {
	border-bottom: none;
} 










.pagination {
	font-family: Roboto;
	font-size: 14px;
	color: #656464;	
	margin-bottom: 62px;
	margin-top: 27px;
	margin-left: 1px;
	text-align: center;	
}

.pagination__display {
	display: inline-block;
	margin-right: 20px;	
}

.pagination-list {
	font-family: GothaProBol;
	font-size: 14px;
	color: #27273e;		
	list-style-type: none;
	text-align: center;
	margin: 0;
    padding: 0;
	text-decoration: none;
	display: inline-block;
}

.pagination__item {
    display: inline-block;
}

.pagination__btn {
	text-decoration: none;
}

.pagination__link {
    padding: 7px 7px;
    border-radius: 3px;
    text-decoration: none;
}

.pagination__link:hover{
    background-color: #27273e;
    color: #ec1e79;
}










.offer {
	background:url(../img/content/pattern.png); 		
	background-color: #27273e;	
	padding-top: 40px;	
	padding-bottom: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;		
}

.offer__text {
	width: 615px;
	font-family: GothaProLig;
	font-size: 18px;
	color: #ffffff;	
	margin: 0 auto;	
	text-align: left;	
	line-height: 1.5;		
}

.offer__sale {
	font-family: GothaProBol;
	color: #ec1e79;
}










.myform__wrap {
	margin-bottom: 50px;
	position: relative;
	margin-top: 57px;
}


.myform__feedback {
	width: 700px;	
	background-color: #f5f5f5;	
	border-radius: 2px;    
	margin: 0 auto;
	padding-bottom: 26px;
	padding-top: 53px;
	padding-left: -10px;
	padding-right: 32px;
}

.myform__caption {
	font-family: GothaProBol;
	font-size: 49px;	
	margin-bottom: 20px;
	margin-top: -14px;
	margin-left: 73px;
}

.myform__column {
    display: inline-block;
    width: 270px;    
    vertical-align: top;
    margin-right: 30px;
}

.myform__input {
	width: 270px;
	height: 45px;
	border: 1px solid #f5f5f5; 
	outline: none;
    border-radius: 2px;
    padding-left: 8px;
}

.myform__input:focus {
	border: 1px solid #ec1e79;   
}

.myform__textarea {
	width: 570px;
	height: 85px;
	padding-left: 9px;
	padding-top: 9px;
	resize: none;
	border: 1px solid #f5f5f5; 
    outline: none;
    border-radius: 2px;
}

.myform__textarea:focus {
    border: 1px solid #ec1e79;    
}

.myform__label {
    display: block;
    margin-bottom: 0px;
    font-family: GothaProLig;
    font-size: 14px;
}

.myform__row, .myform__caption {
	margin-left: 79px;
}

.myform__row {
	margin-bottom: 15px;
}

.myform__radio {
	display: inline-block;
	padding: 0 auto;
	position: relative;
	margin-right: 12px;
	margin-left: 20px;
	margin-top: 12px;
}

.radio__check:checked + .myform__label_type_radio:after{
    opacity: 1;
}

.label-check {
	margin-left: -8px;
}

.radio__check {
	opacity: 0;
}

.myform__label_type_radio:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;    
    border-radius: 50%;
    border: 1px solid #cbcbcb;
    background-color: white;
    position: absolute;
    left: -20px;  
    top: -2px;  
}

.radio__check:checked + .myform__label_type_radio:before {
	border-color: #ec1e79;
}

.myform__label_type_radio:after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;    
    background-color: #ec1e79;
    position: absolute;
    left: -14px;
    top: 4px;
    opacity: 0;
}

.myform__label_type_radio:hover {
	color: #ec1e79;
}

.button {
	float: right;
	border: none;    
    border-radius: 3px;
    background-color: #27273e;
    font-family: GothaProBol;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    padding: 18px 21px;
    letter-spacing: 2px; 
    margin-right: -9px;  
    max-width: 150px;
}

.button:hover {
	background-color: #ec1e79;
}
























.footer__logo, .footer__author {
	margin-top: 12px;	
}

.footer__social {
	float: left;	
	vertical-align: right;
	width: 33.3%;
	text-align: right;
	font-family: GothaProBol;
	font-size: 14px;
	color: #ffffff;	
	margin-top: 15px;	
}

.social-list {
	margin-top: 8px;
	padding-right: 30px;
}

.footer__logo {
	float: left;
	vertical-align: center;
	width: 33.3%;
	text-align: center;
}

.footer__author {
	color: #ffffff;
	float: left;
	vertical-align: left;
	width: 33.3%;
}

.footer__LS {	
	color: white;
}

.social__item {
	display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: 1px;
    padding-right: 5px;
    background: url('../img/icons/css_sprites.png') -10px -10px;
    background-position: 1082px 1150px;
}

.social__item_fb {	
    background-position: 937px 1150px;
}

.social__item_google {
	background-position: 1126px 1150px;
}
	
.social__item_twitter {
	background-position: 1216px 1150px;
}

.social__item_mail {
	background-position: 1306px 1150px;
}





.navigation__item {	
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: white;
	margin-bottom: 15px;
}
.navigation__link:after {
	content: '';   
    width: 16px;
    height: 16px;    
    border-radius: 50%;
    border: 1px solid #fff;    
    position: absolute;
    left: -5.25px;  
    top: -5px; 
    opacity: 0;
 }
 .navigation__link:hover:after {
 	opacity: 1;
 	transition: 0.2s;
 }
 .navigation__link_active
