.team__list {
    width: 100%;
    height: 100%;  
    display: flex; 
    flex-wrap: wrap; }

.team__item {  
    display: flex;
    position: relative;
    width: 25%;
    height: 50%;
    text-decoration: none;
    cursor: pointer;  }

.team__photo {
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    height: 100%;
    width: 100%; }

.team__content {
    position: absolute;
    opacity: 0;
    color: white;
    font-size: 0.875rem;    
    padding-top: 9rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.team__text {
    font-size: 0.9rem;
    line-height: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.2rem;
    max-height: 7rem;
    overflow: hidden; }

.team__item:hover .team__photo {    
    -webkit-filter: grayscale(1) brightness(0.5);
    filter: grayscale(1) brightness(0.5); }

.team__item:hover .team__content {
    opacity: 1; }
