.section__avatar {
    background-image: url(../../img/background/about/about_avatar.jpg);
    background-size: cover;
    background-position: top;
    filter: grayscale(0.8); }

.section__avatar:hover {
    filter: none; } 

.resume {
    width: 47%;
    height: 100%;   
    margin-left: 30px;
    background-color: rgba(142, 142, 147, 0.8);
    color: #fff;
    padding: 2rem;
    position: relative;

}

.resume__title {        
    font-size: 2rem;
    line-height: 0.8;  
    text-align: center;
    padding-bottom: 1.5rem;
    position: relative; 
    background: linear-gradient(0deg, #aa2c36 70%, #d4959a 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.resume:before {
    content: '';
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 6rem;
    top: 3.6rem; }

.resume:after {
    content: '';
    display: block;
    width: 10%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 3.6rem;
    right: 6rem; }

.avatar__right {
    display: flex;
    flex-wrap: wrap;   
    align-content: flex-end; 
    color: #fff;
    padding-right: 30px;
    width: 47%;
    height: 100%; }

.caption1__about {
    font-size: 3.5rem;
    margin-bottom: 0.6rem; }

.resume__list {
    display: flex;
    flex-direction: column; }

.resume__item {
    display: flex;    
    padding-top: 0.5rem;  
    padding-bottom: 0.8rem; }

.resume__punct {
    width: 13%;
    color: #f2effd;
    font-size: 2rem;
    background: linear-gradient(0deg, #aa2c36 70%, #d4959a 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.resume__text {
    width: 87%;
    font-size: 0.9rem; }
 