.section__slider-reviews {
    background: linear-gradient(to top, #ddd4d4, #fff);
}

.wrap__reviews {
    position: relative;
}

.slider-reviews {
    width: 100%;
    height: 30rem;
    position: relative;
    text-align: center;
    margin: 0 auto;
}


.slider-reviews__item {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: left;
    padding: 0 60px;
    box-sizing: border-box;
    color: #002;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-out 0.1s, visibility 0.1s ease-out 0.5s;
}

.slider-reviews__item--active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
}

.slider-arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid red;
    border-bottom: 1px solid red;
    border-bottom-left-radius: 5px;
    z-index: 555;
    transition: .2s;
}

.slider-arrow:hover {
    border-left: 3px solid red;
    border-bottom: 3px solid red;
    transition: .2s;
}

.slider-arrow__prew {
    transform: rotate(45deg);
    left: 0;
}

.slider-arrow__next {
    transform: rotate(-135deg);
    right: 0;
}

.slider-reviews__left,
    {
    width: 35%;
}

.slider-reviews__right {
    width: 51%;
}

.reviews__name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #34343d;
    margin-bottom: 1.5rem;
}

.reviews__text {
    font-family: Cormorant Infant;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.3;
    padding-bottom: 1.5rem;
}

.reviews__position {
    font-size: 1rem;
    font-weight: 700;
}

.reviews__position span {
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.slider-paginator {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 666;
    display: flex;
}

.slider-paginator__item {
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(159, 156, 156, 1);
    margin-right: 8px;
    border: 2px solid rgba(190, 190, 190, 0.8);
    transition: 0.3s;
}


.slider-paginator__item--active {
    background-color: rgba(174, 44, 54, 0.9);
    transition: 0.3s;
}