.section__who {
    background: linear-gradient(to bottom, #f2effd, #fff); }

.caption2__about { 
    padding-bottom: 1.5rem; 
    background: linear-gradient(270deg, #050527 33%, #1e1e28 80%, #aa2c36); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }



/* Стили секций с содержанием */
.who-tabs__content {
    width: 99.9%;
    height: 27rem;
	display: none;
	padding: 2rem 1.5rem;
	background: #fff;
    border: 1px solid #b2414a;
    border-top: 0px;
    font-size: 0.9rem;	
	line-height: 1.2;
	color: #002;	
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn; }

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;	}
	to {
        opacity: 1;	} }
        
@keyframes fadeIn {
	from {
		opacity: 0;	}
	to {
        opacity: 1;	} }
        


/* Стили переключателей вкладок (табов) */
.who-label {
	display: inline-block;
	width: 32.88%;
	padding: 1rem;	
	text-align: center;
    color: #fff;
    text-transform: uppercase; }

.who-label1 {
    background-color: #1e1e28; }
.who-label2 {
    background-color: #616168; }
.who-label3 {
    background-color: #8e8e93; }
.who-label:hover {
	background-color: #d4959a;
    cursor: pointer; }
/* */

   

/* Стили для активной вкладки */
.who-label--active {    
    background-color: #b2414a; }
/* */



/* Активация секций с помощью псевдокласса :checked */
.who-tabs__content--active {
    display: block; }
/* */



/* Вкладка "Услуги" */
.tab-service__list {
    display: flex;
    justify-content: space-between; }

.tab-service__item {
    width: 48%;
    height: 23rem; }
/* */



.who-tabs__content1:hover {
    filter: none; }



/* Вкладка "Гарантии" */
.tab-guarantees__list {
    display: flex;
    justify-content: space-between; } 

.tab-guarantees__item {
    display: flex;
    flex-wrap: wrap;    
    width: 29%; }

.guarantees__icon {
    margin: 0 auto; }
/* */



/* Вкладка "Репутация" */
.tab-status__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }

.tab-status__item {
    width: 48%;
    margin-bottom: 2rem; }
/* */
